---
import BaseHead from '../components/BaseHead.astro'
import BlogMasthead from '../components/BlogMasthead.astro'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Knei from '../components/Knei.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px]">
      <BlogMasthead image="/garud.jpg" width={1024} height={768} format="jpg">
        <div class="z-10 text-center px-8 drop-shadow-lg shadow-black">
          <div class="uppercase text-sm mb-4">About me</div>
          <div class="text-4xl font-mplus font-medium">
            Something <span class="text-orange-500">about</span> me
          </div>
        </div>
      </BlogMasthead>
      <Content>
        <section>
          <p class="mb-8 text-lg indent-4">
            I&apos;m indie dev and member of <Knei />. Most of my time is spend
            at terminal and neovim programming in rust sometimes even astro.
            Visit <a
              href="/"
              class="underline-offset-2 underline decoration-orange-400"
              >homepage</a
            > for posts and project list
          </p>
        </section>
        <section>
          <ul class="grid grid-cols-1 md:grid-cols-2 gap-4"></ul>
        </section>
      </Content>
    </main>
    <Footer />
  </Body>
</html>
